# Timezone
TZ=Asia/Shanghai

# PostgreSQL database configuration
POSTGRES_USER=timebox
POSTGRES_PASSWORD=timebox
POSTGRES_DB=timebox
POSTGRES_PORT=5432 

# Core service configuration
# Session secret key for authentication
SECRET_KEY=14ac79cfac23ecb900bd2eb749ff8ed3
# Default admin credentials
DEFAULT_USERNAME=admin
DEFAULT_PASSWORD=admin
# Maximum number of concurrent OCR tasks
OCR_CONCURRENT_LIMIT=1
# OCR service URLs, multiple URLs can be separated by commas
OCR_SERVICE_URLS=http://ocr-service:8001/ocr
# OCR service tokens, multiple tokens can be separated by commas, must match OCR_SERVICE_TOKENS in ocr-service
OCR_API_TOKEN=4aa866d887aff844e7fe32a3670312d6

# OCR service configuration
# Enable/disable CUDA mode
USE_CUDA=false
# Enable/disable DML mode
USE_DML=false
# Number of worker processes for OCR tasks
OCR_NUM_WORKERS=4
# Authentication tokens for OCR service, must match OCR_API_TOKEN in core-service
OCR_SERVICE_TOKENS=4aa866d887aff844e7fe32a3670312d6
